# Pose estimation
mediapipe>=0.10.0
opencv-python==4.8.1.78

# Datos / tensores
numpy==1.26.4
torch==2.1.0
torchvision==0.16.0

# MMAction2 (ST-GCN)
openmim>=0.3.9
mmengine>=0.7.2
mmdet>=3.0.0

# Utilidades
scipy
einops
decord>=0.4.1

-r mmaction2/requirements.txt